[Unit]
Description=PWM-Fan-Simple-Control
After=network.target

[Service]
Type=simple
ExecStart=/opt/pwm_fan/fan_control.sh
Restart=always

[Install]
WantedBy=multi-user.target